html {
    background-color: #e6e9e9;
    background-image: -webkit-linear-gradient(270deg,rgb(230,233,233) 0%,rgb(216,221,221) 100%);
    background-image: linear-gradient(270deg,rgb(230,233,233) 0%,rgb(216,221,221) 100%);
    -webkit-font-smoothing: antialiased;
}

body {
    margin: 0 auto;
    padding: 2em 2em 4em;
    max-width: 800px;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 16px;
    line-height: 1.5em;
    color: #545454;
    background-color: #ffffff;
    box-shadow: 0 0 2px rgba(0, 0, 0, 0.06);
}

h1, h3 {
    color: #222;
    font-weight: 600;
    line-height: 1.3em;
}

p.header {
    text-align: right;
}

p.error {
	color: red;
}

ol {
    list-style-type: upper-roman;
}

ol ol {
    list-style-type: upper-alpha;
}

ol ol ol {
    list-style-type: decimal;
}

table {
	width: 100%;
    border-collapse: collapse;
}

th, td {
	text-align: left;
}